@font-face {

}

#quoteholder{

  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#quote{
  font-family: 'Architects Daughter', cursive;
  font-size: 3em;
  font-weight: bold;
  padding-left: 0.2em;
  /*color:white;*/
}

.no-gutter [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.spacer{
  padding-top: 50px;
  margin-top: 50px;
}

body {
  /*default*/
  background-image: url('http://i.imgur.com/n35hLd0.jpg');
  -webkit-transition: 3s linear;
  -moz-transition: 3s linear;
  -ms-transition: 3s linear;
  -o-transition: 3s linear;
  transition: 3s linear;
  /* Location of the image */
  /*background-image: url('http://i.imgur.com/n35hLd0.jpg');*/
  /*here or in the JS*/

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

#tweetlink{

}

#sharing{

}

#clickme{

}
